$basecolor: #d00000;
$colorHead: #c00000;

$colorTextHead:#3b5997;
$colorHeader2: #103d7d;

$colorLightGrey: #f3f3f3;
$colorDarkGrey: #e1e1e1;
$colorGrey: #636363;
$colorText: #454545;

$colorPrimary: rgb(0, 0, 255);
$colorDanger: rgb(255, 0, 0);;